<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Title</title>
<link rel="icon" type="image/png" href="images/toilet.png" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link href="/styles/style.css" rel="stylesheet" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
