<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Pivotal Search</title>
    <meta name="description" content="">
    <meta name="author" content="">

        <!-- styles -->
        <link href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" rel="stylesheet">
        <link href="styles/style.css" rel="stylesheet">
        <!-- js -->
        <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

</head>
<body>
    <%- body %>
</body>
</html>  